div{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    background-color:lightseagreen;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.que{
    font-size: 40px;
}
li, dl{
    font-size: 25px;
}