*{
    margin: 0;
    padding: 0;
}
.apply{
    height: 500px;
    width: 80%;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assistment/Images/contain-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
}
.ap-bachlor, .course{
    width: 40%;
    height: 400px;
    margin-top: 50px;
}
.ap-bachlor-1, .ap-bachlor-2{
    color: white;
    height: 150px;
    width: 100%;
    background-color: rgba(255,255,255,0.2);
    margin-top: 40px;
}
.ap-bachlor-1 div,.ap-bachlor-2 div{
    margin: auto;
    width: 80%;
}

.ap-bachlor-1 p, .ap-bachlor-2 p{
    margin-top: 20px;
}
.ap-bachlor-1 button,.ap-bachlor-2   button{
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    border: none;
    border-radius: 50px;
    color: white;
    margin-top: 15px;
}
.course{
    background-color: white;
    border-radius: 20px;
}
.course-detail{
    height: 200px;
    margin: 40px;
}
.course-detail p{
    margin-top: 10px;
}
.course-detail h3{
    margin-top: 20px;
}

/* Section:4 Our Popular Course */
.p-courses{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: rgba(0,0,0,0.9);
}
.p-courses h2{
    margin-top: 20px;
}
